@import '../../styles/variables.scss';

.root {
	position: relative;
	width: 100%;
	padding-top: $GLOBAL-MARGIN;

	.wrapper {
		font-size: 20px;
		font-weight: 800;
		line-height: 1;
		letter-spacing: -2px;
		text-align: left;
		padding: 0 35px;
		
		@include lg {
			width: 80%;
			max-width: $MAX-WIDTH;
			margin: 0 auto;
			padding: 0px;
			font-size: 35px;
		}
	
		h2 {
			margin-bottom: 0;
		}

		h2.marginLeft {
			@include lg {
				padding-left: $GLOBAL-MARGIN;
			}
		}
	}	
}
