@import '../../styles/variables.scss';

.root {
	// position: relative;
	position: fixed;
	top: 0;
	width: 100%;
	height: $PAGETOP-HEIGHT;
	z-index: 8;

	&.isHomePage {
		background-color: black;

		@include md {
			background-color: rgba(0,0,0,0.66);
		}
	}

	&.isInnerPage {
		background-color: white;
	}

	.wrapper {
		padding-left: 20px;

		@include md {
			width: 80%;
			max-width: $MAX-WIDTH;
			margin: 0 auto;
			padding-left: 0;
		}
	

		.logo {
			width: 250px;
			padding: 20px 0 0 0;
			cursor: pointer;

			@include md {
				width: 300px;
				padding: 20px 0 0 0;
			}
		}

		.burger {
			padding-right: 15px;
			height: $PAGETOP-HEIGHT;
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			@include md {
				padding-right: $GLOBAL-MARGIN;
			}
		}
	}
}
