@import '../../styles/variables.scss';

.root {
	position: relative;
	width: 100%;
}

.wrapper {
	margin: 0;
	padding: 0 $GLOBAL-MARGIN;
	text-align: left;
	font-size: 18px;
	line-height: 30px;

	@include lg {
		width: 80%;
		max-width: $MAX-WIDTH;
		margin: 0 auto;
		padding: 0px;
	}

}
