@import '../styles/variables.scss';
@import '../styles/shared-styles.scss';

.root {
	position: relative;
	width: 100%;

	.wrapper {
		width: 100%;

		@include md {
			max-width: $MAX-WIDTH;
			margin: 0 auto;
			padding: 0px;
		}

		.item {

			.content {
				display: flex;
				flex-direction: column-reverse;
				justify-content: right;

				@include md {
					flex-direction: row-reverse;
				}

				.photo {
					width: auto;
					display: flex;
					flex-direction: column;

					@include md {
						width: 50%;
					}					

					.yellowBar {
						@extend .labelYellowBar;
						top: 0;
						margin: 0 $GLOBAL-MARGIN/2;

						@include md {
							margin: 0;
						}
					}					
				}

				.textWrap {
					width: auto;
					color: black;

					@include md {
						width: 50%;
						display: flex;
						flex-direction: column;
					}

					.text {
						margin: $GLOBAL-MARGIN $GLOBAL-MARGIN 0 $GLOBAL-MARGIN;
						text-align: left;
						margin: 0;
						width: auto;
						padding: 0 $GLOBAL-MARGIN/2;
						padding-top: 20px;

						@include md {
							width: 70%;
							padding-top: 0;
							padding-left: 20%;
						}

						> p {
							margin-top: 0;
						}

						.headline {
							width: fit-content;
							margin: 0;
							text-wrap: wrap;							
							text-transform: uppercase;
							font-family: 'Montserrat', sans-serif; /* or 'Montserrat  Poppins' */
							font-weight: 100;
							font-size: 35px;
							letter-spacing: -2px;
							
							@include md {
								font-size: 95px;
								letter-spacing: -8px;
							}
						}

						.yellowBar {
							@extend .labelYellowBar;
						}						
					}				
				}
			}
		}

		.item:nth-child(even) {

			.content {
				justify-content: left;

				@include md {
					flex-direction: row;
				}

				.headline {
					width: auto;

					@include md {
						width: 57%;
					}

					> h2 {
						margin: 0 0 ($GLOBAL-MARGIN / 2) 35px;

						@include md {
							margin-left: 0;
						}
					}
				}

				.photo {
					
					.yellowBar {
						@include md {
							align-self: flex-end;
						}
					}						
				}

				.textWrap {
					.text {

						@include md {
							padding-left: 0;
							padding-right: 20%;
							align-self: end;							
						}
					}
				}
			}
		}
	
	}

	h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
}
