@import '../styles/variables.scss';

.root {
	// position: absolute;
	position: fixed;
	top: 25px;	
	width: 100%;
	z-index: 99;

	.wrapper {
		display: flex;
		
		@include lg {
			width: 80%;
			max-width: $MAX-WIDTH;
			margin: 0 auto;
		}

		.left {
			flex-grow: 2;
			position: relative;
			top: -23px;
			height: 80px;

			a {
				width: 100%;
				display: block;
				height: 80px;
				text-decoration: none;
			}
		}

		.right {
			flex-grow: 1;
			display: flex;
			justify-content: flex-end;
		}

		.hamburger {
			margin-right: 45px;
		}
	
	}	
}
