@import '../styles/variables.scss';

.root {
	position: relative;
	width: 100%;
	padding-top: $GLOBAL-MARGIN;
	color: #a9a9a9;

	.wrapper {
		font-size: 18px;
		line-height: 1.5;
		font-weight: normal;
		padding: 0 $GLOBAL-MARGIN;
		cursor: pointer;
	
		@include lg {
			width: 80%;
			max-width: $MAX-WIDTH;
			margin: 0 auto;
		}

		.image {
			position: relative;
			height: 140px;
			background-color: white;
		}

		.arrow {
			position: absolute;
			width: 21px;
			height: 40px;

			&::before {
				content: unset;
			}

			&.left {
				left: -23px;
			}
			&.right {
				right: -23px;
			}
		}

		.imageSliderWrapper {
			border-left: solid 2px #f5ae03;
			border-right: solid 2px #f5ae03;
		}

	
	}	
}
