@import '../styles/variables.scss';

.root {
	position: relative;
	width: 100%;
	padding-top: $GLOBAL-MARGIN;

	.wrapper {
		&.marginLeft {
			@include lg {
				width: 80%;
				margin: 0 auto;
			}
		}

		h2 {
			text-align: left;
			text-transform: uppercase;
			font-size: 95px;
			font-family: 'Montserrat', sans-serif; /* or 'Montserrat  Poppins' */
			font-weight: 100; /* Adjust weight for thickness */
			letter-spacing: -6px;
			margin: 0;
		}

		.yellowBar {
			width: 7%;
			height: 10px;
			background-color: $GOLDEN-COLOR;
			top: -37px;
			position: relative;							
		}		
		
		@include lg {

		}

	}	
}
