@import '../styles/variables.scss';
@import '../styles/shared-styles.scss';

.root {
	position: relative;
	width: 100%;
	padding-top: $GLOBAL-MARGIN;

	.wrapper {
		padding: 0 $GLOBAL-MARGIN/2;

		&.marginLeft {

			@include md {
				width: 80%;
				margin: 0 auto;
			}
			
		}

		h2 {
			margin: 0;
			width: fit-content;
			text-wrap: wrap;			
			text-align: left;
			text-transform: uppercase;
			font-family: 'Montserrat', sans-serif; /* or 'Montserrat  Poppins' */
			font-weight: 100; /* Adjust weight for thickness */
			font-size: 35px;
			letter-spacing: -2px;							
			
			@include md {
				font-size: 95px;
				letter-spacing: -8px;
			}		
		}

		.yellowBar {
			@extend .labelYellowBar;
		}						

		
		@include md {

		}

	}	
}
