@import '../styles/variables.scss';

.root {
	position: fixed;
	top: 0px;
	z-index: 100;
	width: 100%;
	background-color: white;
	padding: 20px 0;

	.wrapper {
		display: flex;
		max-width: $MAX-WIDTH;
		margin: 0 auto;
		justify-content: space-between;
		padding-left: 10px;

		.logo {
			align-self: flex-start;
		}

		.navigation {
			display: flex;
			align-self: flex-end;
		}

		@include md {
			width: 80%;
		}			
	}
}

