// shared-styles.scss
@import '../styles/variables.scss';

.labelYellowBar {
  position: relative;
  background-color: $GOLDEN-COLOR;
  width: 35px;
  height: 7px;
  top: -12px;
  margin: 0;

  @include md {
    margin: 0;
    width: 65px;
    height: 10px;
    top: -37px;
  }
}
